<div class="flex items-center justify-center shadow-lg shadow-slate-300">

  <div
    class="flex md:container w-full flex-col h-full justify-center items-center md:gap-y-3 -text--primary-color bg-[#9fbbb1] p-4 rounded-lg shadow-xl">
    <p class="md:text-3xl text-2xl  ">SUBSCRIPTOIN FORM</p>
    <P class="text-base text-slate-500 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
    <form class="md:flex md:flex-row md:items-center flex flex-col justify-center gap-2 p-4 w-full ">
      <input type="text" class="p-4 text-sm rounded-lg w-full " placeholder="Your Name">
      <input type="text" class="p-4 text-sm rounded-lg w-full " placeholder="Email Address">
      <button
        class="bg-blue-600 text-sm hover:bg-blue-700 rounded-lg text-white font-bold py-4 px-6 border border-blue-700">
        SUBSCRIBE
      </button>
    </form>
  </div>

</div>
