<div class= "flex justify-center items-center flex-col -bg--primary-color p-5 ">
  <div class="container md:text-start text-center px-4 text-white">
    <p class="text-2xl">General Knowledge</p>
    <p class="text-lg ">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="container">
    <div class="md:grid grid-cols-3 flex flex-col justify-center items-center ">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>


    </div>
  </div>
</div>

