<div class="shadow-sm px-4 py-2">
  <p class="text-xl my-4 text-white">comments (390)</p>
  <div class="container flex space-y-3 flex-col">
    <div
      class="bg-white bg-opacity-10 rounded-2xl shadow-5xl border border-r-0 border-b-0 border-opacity-30 backdrop-filter backdrop-blur-sm p-4 space-y-1"
    >
      <p class="text-base">adhil</p>
      <p class="text-xs text-red-400">last Updated - 23 sep 2022</p>
      <div class="text-sm text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus
        veniam autem velit sunt fuga soluta dolorum beatae eveniet praesentium?
      </div>
      <div class="text-blue-600 space-x-6">
        <a href="#">Reply</a>
        <a href="#">view Reply</a>
      </div>
      <hr />
    </div>
    <div
      class="bg-white bg-opacity-10 rounded-2xl shadow-5xl border border-r-0 border-b-0 border-opacity-30 backdrop-filter backdrop-blur-sm p-4 space-y-1"
    >
      <p class="text-base">adhil</p>
      <p class="text-xs text-red-400">last Updated - 23 sep 2022</p>
      <div class="text-sm text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus
        veniam autem velit sunt fuga soluta dolorum beatae eveniet praesentium?
      </div>
      <div class="text-blue-600 space-x-6">
        <a href="#">Reply</a>
        <a href="#">view Reply</a>
      </div>
      <hr />
    </div>
    <div
      class="bg-white bg-opacity-10 rounded-2xl shadow-5xl border border-r-0 border-b-0 border-opacity-30 backdrop-filter backdrop-blur-sm p-4 space-y-1"
    >
      <p class="text-base">adhil</p>
      <p class="text-xs text-red-400">last Updated - 23 sep 2022</p>
      <div class="text-sm text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus
        veniam autem velit sunt fuga soluta dolorum beatae eveniet praesentium?
      </div>
      <div class="text-blue-600 space-x-6">
        <a href="#">Reply</a>
        <a href="#">view Reply</a>
      </div>
      <hr />
    </div>
  </div>
</div>
