<div class="shadow-sm px-4 py-2">
  <p class="text-xl my-4 ">comments (390)</p>
<div class="container flex space-y-3 flex-col">
  <div class="bg-[#f0f0f0] p-4 space-y-1">
    <p class="text-base">adhil</p>
    <p class="text-xs text-red-400">last Updated - 23 sep 2022</p>
    <div class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus veniam autem velit sunt fuga soluta dolorum beatae eveniet praesentium?
    </div>
    <div class="text-blue-600 space-x-6">
      <a href="#">Reply</a>
      <a href="#">view Reply</a>
    </div>
    <hr>
  </div>
  <div class="bg-[#f0f0f0] p-4 space-y-1">
    <p class="text-base">adhil</p>
    <p class="text-xs text-red-400">last Updated - 23 sep 2022</p>
    <div class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus veniam autem velit sunt fuga soluta dolorum beatae eveniet praesentium?
    </div>
    <div class="text-blue-600 space-x-6">
      <a href="#">Reply</a>
      <a href="#">view Reply</a>
    </div>
    <hr>
  </div>
  <div class="bg-[#f0f0f0] p-4 space-y-1">
    <p class="text-base">adhil</p>
    <p class="text-xs text-red-400">last Updated - 23 sep 2022</p>
    <div class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus veniam autem velit sunt fuga soluta dolorum beatae eveniet praesentium?
    </div>
    <div class="text-blue-600 space-x-6">
      <a href="#">Reply</a>
      <a href="#">view Reply</a>
    </div>
    <hr>
  </div>
</div>
</div>
