<section
  class="h-screen relative place-content-center  overflow-hidden flex flex-col justify-center items-center px-20 py-32 bg-gradient-to-r from-[#000000] via-gray-900 to-[#19042c] bg-cover"
>
  <div
    class="h-[22rem] w-[22rem] bg-gradient-to-r from-green-400 to-blue-500 rounded-full absolute left-2/3 -top-56 animate-pulse"
  ></div>
  <div
    class="h-[20rem] w-[20rem] bg-gradient-to-r from-green-400 via-pink-500 to-purple-500 rounded-full absolute -left-24 top-[540px] animate-pulse"
  ></div>

  <div
    class="container flex flex-col-reverse md:flex-row items-center h-full bg-white bg-opacity-10 rounded-2xl shadow-5xl border border-r-0 border-b-0 border-opacity-30 backdrop-filter backdrop-blur-sm"
  >
    <div
      class="p-4 space-y-4 relative z-10 text-white text-5xl hover:cursor-pointer"
    >
      <h3 class="hover:animate-pulse">LANGUAGES USED</h3>
      <H3 class="hover:animate-pulse">TO</H3>
      <h1 class="hover:animate-pulse">DEVELOP</h1>
      <h3 class="hover:animate-pulse">WEB APPLICATIONS</h3>
    </div>
    <img
      class="md:absolute scale-75 left-80"
      src="../../../assets/computer.png"
      alt=""
    />
  </div>
</section>
<app-category-navbar></app-category-navbar>

<section
  class="flex flex-col justify-center h-full items-center p-4 bg-gradient-to-r from-[#000000] via-gray-900 to-[#19042c] bg-cover"
>
  <div class="md:w-full">
    <div class="flex flex-col py-3 text-white items-center justify-center">
      <p class="text-lg md:text-2xl">Featured Posts</p>
      <p class="text-sm text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="flex items-center justify-center w-full">
      <div
        class="flex flex-col items-center justify-center md:flex-row md:flex md:flex-wrap md:justify-center md:items-center"
      >
        <app-post-card
          class=""
          *ngFor="let featuredPost of featuredPostsArray"
          [postData]="featuredPost"
        ></app-post-card>
      </div>
    </div>
  </div>
  <div class="md:w-full text-white">
    <div class="flex flex-col py-3 items-center justify-center">
      <p class="text-lg md:text-2xl">Latest Posts</p>
      <p class="text-sm text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="flex items-center justify-center w-full">
      <div
        class="grid place-items-center md:grid-cols-3"
      >
        <app-post-card
          class=""
          *ngFor="let latestPosts of latestPostsArrray"
          [postData]="latestPosts"
        ></app-post-card>
      </div>
    </div>
  </div>
</section>
