<section class="flex justify-center items-center p-4 -bg--primary-color">
  <div class="md:w-full">
    <div class="flex flex-col py-3 text-white items-center justify-center">
      <p class="text-lg md:text-2xl">Featured Posts</p>
      <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="flex items-center justify-center w-full">
      <div class="flex flex-col items-center justify-center md:flex-row md:flex md:flex-wrap md:justify-center md:items-center bg-cyan-100">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>
