<section class="-bg--primary-color text-white flex justify-center items-center m-4">
  <div class="container bg-teal-700 text-center space-y-5 p-4">
    <p class="text-3xl">About Us</p>
    <p class="text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut odit voluptates asperiores, doloremque veniam quia explicabo quo quas voluptate! Fugiat quae fugit animi ratione incidunt ad consectetur molestiae sunt deserunt.
    Temporibus, tenetur? Assumenda nostrum fuga possimus illo, quam labore, minus reiciendis autem expedita iusto quasi vitae? Est excepturi eos reprehenderit, adipisci cumque qui architecto! Iure voluptates laudantium reiciendis molestias inventore?
    Culpa earum tenetur sequi praesentium exercitationem, rerum doloremque aperiam eius laborum suscipit. Soluta optio impedit placeat incidunt neque? Vero praesentium earum obcaecati commodi magnam dolor numquam labore. Corporis, deserunt dolor!
    Eos doloribus cumque, id repudiandae distinctio magnam inventore sit et aut tenetur eius reiciendis blanditiis ab officiis earum consequatur autem ratione nobis in, asperiores ducimus facilis. Laudantium vitae harum velit.
    Deleniti quasi est eum distinctio cum eos dolore error maxime sit fuga totam perspiciatis sapiente earum, rem repellendus! Obcaecati, accusantium natus nostrum debitis doloremque provident totam at unde quae ea?
    Alias, reprehenderit animi. Nulla quia magni doloribus quidem nostrum sed, aliquid cupiditate quae eos laudantium laboriosam facilis, quaerat assumenda, at illum perspiciatis pariatur. Amet corporis quod sed illum error optio.</p>
    <button
    class="bg-blue-600 text-sm hover:bg-blue-700 rounded-lg text-white font-bold py-4 px-6 border border-blue-700">
    Back to Home
  </button>
  </div>
</section>
