<div class="flex justify-center ">
  <section class="container flex flex-col md:flex-row  justify-center">

    <div class="flex-1 shadow-lg m-4">
      <img class=""
        src="https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt="">
      <div class="flex flex-col gap-1 p-4 bg-white">

        <div class="flex gap-3">
          <p class="text-center text-red-500">INSPIRING</p>
          <p class="text-center text-green-500">FEATURED</p>
          <p class="text-center text-blue-500">VIEWS - 1,223,214</p>
        </div>
        <p class="text-left text-red-400">last Updated - 23 sep 2022</p>
        <p class="text-lg leading-5 ">HOW TO START A BLOG IN 2023 EDITTED NEW CATEGORY</p>
        <P class="text-zinc-600 text-base">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
          similique sint
          sapiente, qui quia quo alias quisquam! Distinctio aliquid quaerat fugiat consequatur laborum! Quas unde harum
          esse quod. Tempore, blanditiis.
          Nostrum aut maiores impedit similique accusamus, aliquam soluta eaque commodi dolorum quisquam dolorem cumque
          vitae illo? Rem, officiis sapiente vel, sequi ad consequuntur enim mollitia iste, nisi eligendi voluptates
          eius.
          Alias quisquam porro minus explicabo, quos cum facilis quo expedita consequuntur rem enim unde iste ex error
          consequatur. Sit velit voluptatum, rem voluptate distinctio sunt quasi facilis possimus enim? Quam.
          Ex necessitatibus, porro libero rerum possimus voluptates nesciunt. Expedita voluptate voluptatibus sit quas
          aliquid veritatis dicta debitis repudiandae enim, quibusdam, dignissimos soluta inventore in repellendus alias
          magni! Vel, laborum aliquam.
          Maiores eligendi nihil quas inventore sed perferendis aliquid ab id. Placeat accusantium quaerat itaque
          dolores
          odio sequi mollitia perspiciatis corporis nobis velit doloremque, eveniet, tempore adipisci rerum quae non!
          Quis.
          Deserunt esse earum accusamus incidunt facilis amet velit. Accusantium, dolorum debitis. Illum deserunt
          obcaecati vitae unde provident quaerat reiciendis corrupti. Doloribus, commodi? Tempora commodi ipsa adipisci
          rem quas, repellat nam.</P>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="flex flex-col items-center">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>

    </div>
  </section>
</div>
