<footer class="flex justify-center items-center bg-gradient-to-r from-[#000000] via-gray-900 to-[#19042c] bg-cover text-white h-28 py-2 ">
  <div class="flex justify-center  ">
    <div class="container flex flex-col gap-1">
      <div class="">
        <ul class="md:flex text-center justify-center flex flex-wrap gap-4 text-lg -text--primary-color">
          <li><a href=""></a>Home</li>
          <li><a href=""></a>Aabout</li>
          <li><a href=""></a>Contact</li>
          <li><a href=""></a>Terms & Conditions</li>
        </ul>
      </div>
      <p class="text-center text-sm pb-2">Copyright © 2020 Blog site</p>
    </div>
  </div>
</footer>
