<footer class="flex justify-center items-center -bg--navbar-footer-color h-36 py-2 ">
  <div class="flex justify-center  ">
    <div class="container flex flex-col gap-2 p-1">
      <!-- <div class=" flex justify-center">
        <a href="#" class="-bg--secondary-color text-lg py-1 px-5 rounded-3xl -text--primary-color">
          ANG-BLOG
        </a>
      </div> -->
      <div class="">
        <ul class="md:flex text-center justify-center  gap-4 text-lg py-2 -text--primary-color">
          <li><a href=""></a>Home</li>
          <li><a href=""></a>Aabout</li>
          <li><a href=""></a>Terms & Conditions</li>
          <li><a href=""></a>Contact</li>
        </ul>
      </div>
      <p class="text-center text-sm pb-2">Copyright © 2020 Blog site</p>
    </div>
  </div>
</footer>
