<div class="w-[350px] shadow-lg m-4">
  <img class="h-[250px]" src="https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
  <div class="flex flex-col gap-1 p-4 bg-white">

    <div class="flex gap-3">
      <p class="text-center text-red-500">Design</p>
      <p class="text-center text-green-500">Featured</p>
      <p class="text-center text-blue-500">views -12833</p>
    </div>
    <p class="text-lg leading-5">HOW TO START A BLOG IN 2023 EDITTED NEW CATEGORY</p>
    <P class="text-zinc-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nisi ipsa eligendi unde laboriosam nesciunt necessitatibus, temporibus in voluptate, libero nobis molestias consectetur delectus!</P>

    <p class="text-center text-red-400">last Updated - 23 sep 2022</p>


  </div>
</div>
<!-- max-w-sm -->
